* {
    margin: 0;
    padding: 0;

}

/* Header part here */

.upper-part {

    width: 82.5%;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-image: url('../resources/BannerImage.png');
    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 16px;




}

.header-title-description {
    text-align: center;
    padding-top: 145px;

}

.header-title {
    color: #FFF;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Merriweather',serif;


}

.header-description {
    color: rgb(240, 233, 233);  
    font-size: 60px;
    font-family: 'Merriweather',serif;



}

/* header part end here */

header main {
    gap: 120px;
}

/* body part1 start here */

.body-part1{
    text-align: center;
}

.body-part1-title {

    color: #F00;
   
    font-size: 60px;
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 40px;

}

.body-part1-smalldescription {

    color: #F00;

  
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;


}

.body-part1-title2 {

    color: #070211;

  
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

.body-part1-image {

    width: 82.5%;
    max-width: 700px;
    height: 420px;
    margin: 0 auto;
    background-image: url('../resources/NewYearPhoto.png');
    background-repeat: no-repeat;
    background-size: contain;

    margin-bottom: 120px;

}

/* body part 1 end here */

/* body part2 start here  */

.body-part2 {

    width: 82.5%;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: contain;

}


.body-part2-title {


    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 5.80px;
    width: 530px;



}

.body-part2-body {

    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    width: 576px;
}

.body-part2 {
    display: flex;


}

.body-part2-title {
    margin-top: 120px;
    margin-left: 65px;
    margin-bottom: 20px;
}

.body-part2-body {

    margin-left: 65px;
    margin-bottom: 40px;
}

.body-part2-image {

    width: 230px;
    height: 310px;
    padding: 0.008px 0px 0px 0px;
    margin-top: 80px;
    margin-left: 80px;

}

.body-part2-anchor a {
    text-decoration: none;
    color: white;
    margin-left: 130px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

}

/* body part2 ends here */

/* body part3 start here */

.body-part3 {

    width: 82.5%;
    max-width: 1320px;
    height: 482px;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

    margin-bottom: 30px;


}


.body-part3-description {
    color: #070211;
    font-family: Inter;
    font-size: 27px;
    font-weight: 600;
    line-height: 50px;
    text-transform: capitalize;
    padding-top: 83px;

}

.red-part {

    color: #F00;
}

.body-part3-total {
    text-align: center;

}

.body-part3-button {

    background: #F00;
    padding: 16px 32px;
    border-radius: 8px;
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 40px;
}

/* body part3 ends here */

/* body part4 start here */

.body-part4 {

    width: 82.5%;
    max-width: 1320px;
    height: 482px;
    margin: 0 auto;

}


.body-part4-start-title {

    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;


}

.body-part4-start-heading {

    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
}

.body-part4-start-description {

    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    width: 325px;
}

.body-part4-image-img {

    width: 300.996px;
    height: 300.996px;
    border-radius: 300.996px;
    border: 7px solid red;
    padding: 10px;

}


.body-part4-ends-title {

    color: #F00;

    font-family: Inter;
    font-size: 40px;
    font-weight: 700;

}

.body-part4-ends-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;

}

.body-part4-ends-image {
    width: 116px;
    height: 116px;

}

.body-part4 {
    display: flex;
    justify-content: space-between;
    gap: 55px;
}

/* body part4 ends here */

/* body part5 start here */

.body-part5 {

    width: 82.5%;
    max-width: 1320px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 100px;


}

.body-part5-title {

    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.body-part5-heading {

    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
}

.body-part5-description {

    width: 740px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 40px;
}

.body-part5-first-row-images {
    display: flex;
}

.part5-images {

    width: 350px;
    height: 371px;

}

.img1,
.img2 {

    margin-right: 20px;
}

.part5-images:hover {
    border: 5px solid greenyellow;
    border-radius: 13px;
    cursor: pointer;
}



/* body part5 ends here */

/* body part6 start here */

.body-part6 {


    width: 82.5%;
    max-width: 1320px;
    height: 616px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);

}

.body-part6-total {

    text-align: center;
    padding-top: 66px;


}

.part6-image {
    width: 125px;
    height: 125px;
}

.part6-header {

    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
}

.part6-description {

    color: rgba(7, 2, 17, 0.60);
    font-size: 17px;
    font-weight: 400;
    font-family: Inter;
    padding: 0 175px;
    margin-top: 20px;
    margin-bottom: 40px;


}

#user-input {

    background: #FFF;
    width: 75%;
    height: 100%;
    border: none;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    padding-left: 30px;
    border-radius: 40px 0px 0px 40px;
    border: none;

}

.user-button {

    background: #F00;
    width: 25%;
    height: 100%;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0px 40px 40px 0px;
    cursor: pointer;

}

.user-input-button {

    width: 535px;
    height: 60px;
    display: flex;
    margin-left: 278px;
    margin-right: 278px;


}

/* body part6 ends here */

/* body part complete */

/* footer part start here */

.footer-part {


    margin-top: 100px;
    width: 100%;
    max-height: 1600px;
    height: 609px;
    background: #070211;



}

.footer-section {
    width: 82.5%;
    max-width: 1320px;
    height: 609px;
    margin: 0 auto;
}

.footer-title {

    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 33px;

}


h5 {

    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 33px;

}

.footer-section-upper-part {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 42px
}

.footer-middle-part-image {

    width: 53px;
    height: 53px;
}

.footer-section-middle-part {
    position: relative;
    left: 50%;
    right: 50%;
    padding-top: 48px;
    padding-bottom: 48px;

}

.footer-section-middle-part {
    display: flex;
    gap: 24px;
}



.footer-ending-left {

    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;

}

.footer-ending-right {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;

}

.footer-ending {
    display: flex;
    justify-content: space-between;

    padding-top: 50px;
}