* {
    margin: 0;
    padding: 0;

}

/* Header part here */

.upper-part {

    width: 82.5%;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-image: url('../resources/BannerImage.png');
    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 16px;




}

.upper-part .header-title-description .header-title {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    padding: 130px 450px 0px 450px;
    font-family: Merriweather;
    position: relative;

}

.upper-part .header-title-description .header-description {

    color: rgb(240, 233, 233);

    text-align: center;
    font-size: 60px;
    padding: 0 280px 147px 280px;
    width: 632px;
    font-family: Merriweather;
    position: relative;


}

/* header part end here */

header main {
    gap: 120px;
}

/* body part1 start here */

.body-part1 .body-part1-title {

    color: #F00;
    text-align: center;
    font-size: 60px;
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 40px;

}

.body-part1 .body-part1-smalldescription {

    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;


}

.body-part1 .body-part1-title2 {

    color: #070211;

    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

.body-part1-image {

    width: 82.5%;
    max-width: 700px;
    height: 420px;
    margin: 0 auto;
    background-image: url('../resources/NewYearPhoto.png');
    background-repeat: no-repeat;
    background-size: contain;

    margin-bottom: 120px;

}

/* body part 1 end here */

/* body part2 start here  */

.body-part2 {

    width: 82.5%;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: contain;

}


.body-part2-title {


    color: #FFF;
    font-family: Merriweather;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 5.80px;
    width: 530px;



}

.body-part2-body {

    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    width: 576px;
}

.body-part2 {
    display: flex;


}

.body-part2-title {
    margin-top: 120px;
    margin-left: 65px;
    margin-bottom: 20px;
}

.body-part2-body {

    margin-left: 65px;
    margin-bottom: 40px;
}

.body-part2-image {

    width: 230px;
    height: 310px;
    padding: 0.008px 0px 0px 0px;

    margin-top: 80px;
    margin-left: 80px;

}

.body-part2-anchor a {
    text-decoration: none;
    color: white;
    margin-left: 130px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

}

/* body part2 ends here */

/* body part3 start here */

.body-part3 {

    width: 82.5%;
    max-width: 1320px;
    height: 482px;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);



}


.body-part3-description {
    color: #070211;
    font-family: Inter;
    font-size: 27px;
    font-weight: 600;
    line-height: 50px;
    text-transform: capitalize;
    padding-top: 83px;

}

.body-part3 .body-part3-description .red-part {

    color: #F00;
}

.body-part3-total {
    text-align: center;

}

.body-part3-button {

    background: #F00;
    padding: 16px 32px;
    border-radius: 8px;
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 40px;
}

/* body part3 start here */